ul.centerUL {
        margin: 2px auto;
        line-height: 1.4;
        padding-left: 0;
    }
    .centerUL li {
        display: inline;
        text-align: center;
    }
	
	body {
		padding: 20;
	}
	
	.wn {
		text-align: center;
	}
	
	.gef {
		padding: 20;
	}
	

	